<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lan.miaosha.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="com.lan.miaosha.domain.Test">
    <id column="username" jdbcType="VARCHAR" property="username" />
    <id column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
  <sql id="Base_Column_List">
    username, passwd , number
  </sql>

  <select id="testList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test
  </select>

  <insert id="insert" parameterMap="com.lan.miaosha.domain.Test">
    insert into test (username , passwd , number) values (#{username ,jdbcType=VARCHAR} , #{passwd , jdbcType=VARCHAR} ,#{number , jdbcType=INTEGER})
  </insert>
</mapper>